<!-- views/events-new.handlebars -->

<form method="POST" action="/events">
 {{>events-form}}

  <!-- BUTTON -->

  
  <div class="text-right">
<a href="/" class='text-muted mr-2' >Cancel</a>
<button type="submit" class="btn btn-success">Save Event</button>
  </div>

</form>